VITE_FIREBASE_API_KEY="AIzaSyACdvX7Tuy5DlSjteCyGzITF1u76H1KQzE
VITE_FIREBASE_AUTH_DOMAIN=it-asset-management-42c27.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=it-asset-management-42c27
VITE_FIREBASE_STORAGE_BUCKET=it-asset-management-42c27.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=980551216130
VITE_FIREBASE_APP_ID=1:980551216130:web:b63c031c7bfd53160d4b1b
